

h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 48px;
}

.container {
	font-family: 'Raleway', sans-serif;;
	font-size: 22px;
	text-overflow: :wrap;
	background-color: rgba(73,75,75,0.8);
	color: white;
	padding: 100px;
	max-width: 500px;

}

.steven {
	position:relative;
}


.targetNumb{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	max-width: 500px;
	position: relative;
}



body {
	padding-left:150px;
	padding-top: 50px;
	font-family: 'Saira Extra Condensed', sans-serif
	font-size: 100%;
}

